{% extends 'articles/base.html' %}
{% block title %}
    Login - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% if messages %}
				{% for message in messages %}
					<p class="alert alert-info">{{ message }}</p>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="articles">
				<h2>Heloo World!</h2>
				{% for result in results %}
					<h3>{{result.title}}</h3>
					<br>
					Name:{{result.author}}
					<br>
					<p id="{{result.id}}">
						{{result.body}}
					</p>
					<hr>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}