{% extends 'articles/base.html' %}
{% block title %}
    Login - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="articles">
				<h1>Articles</h1>
				<br>
				{% for article in articles %}
					<a href="{% url 'article_view' article.id_article %}">
						<h3 id="{{ article.id_article }}">{{ article.title }}</h3>
					</a>

					<br>
						Author: {{ article.author.auth_user.username | title }}
					<br>

					<p>
						{{ article.content | slice:":255" }} ...
					</p>
					<hr>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}