{% extends 'articles/base.html' %}
{% block title %}
    Register - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">

            <h4>Register</h4>
            <hr>

            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form method="post">

                {% csrf_token %}

                <table class="table">
                    {{ form.as_p }}
                    <tr>
                        <td>&nbsp;</td>
                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                    </tr>
                </table>

            </form>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Related Links</h4>
            <p>
                <a href="/login/">Sign Up</a> <br>
                <a href="/password-reset/">Forgot Password?</a> <br>
                <a href="#">Feedback</a>
            </p>
        </div>

    </div>

{% endblock %}